element
{
    position: absolute;
}
.introduction
{
    color: blue;
}
.salutations
{
    color: blue;
}
.signature
{
	text-align: right;
}

body
{
    background: url("SE3-unsplash.jpg") fixed no-repeat top right;
    /*background-image: url("SE3.jpg");
    background-attachment: fixed; /* Le fond restera fixe */
    /*background-repeat: no-repeat;
    background-position: top-left;*/
}	
p
{
    background-attachment: fixed;
    /*column-width: 120px;*/
    text-decoration: blink;
    font-size: 16px; /* Paragraphes de 14 pixels */
    font-family: Times, "Arial Black", Arial, Verdana, sans-serif;
    text-align: left;
    background-color: white;
    color: #000000;
    /*text-shadow: 2px 2px 6px black;*/
    /*opacity: 0.8;*/
    block-size: fit-content;
    /*width: 60px;
    min-width: 500px;*/
    /*width: 500px;
    height: 150px;
    overflow: auto;
    margin: 12px;
    border: 1px solid black;
    padding: 12px;
    margin-bottom: 20px;*/
}
h1
{
    display: flex;
    column-width: 180px;
    font-size: 40px; /* Titres de 40 pixels */
    text-decoration: underline;
    font-weight: normal;
    text-align: left;
    color: black;
    text-transform:capitalize;

    width: 80%;
    /*border: 3px black double;
    border-radius: 20px / 10px;
    box-shadow: 6px 6px 6px black;
    text-shadow: 2px 2px 4px black;*/
}
em
{
    font-style: normal;
    font-weight: bold;
}
h2
{
    font-style: normal;
    font-weight: bold
}
.imageflottante
{
    float: left;
}

mark
{
	background-color: red;
	color: black;
}
ul{
    list-style-type: none; 
}
.menu{
    /*position: sticky;
    top: 0;*/
    background-color: #d6e9d6;
    padding:10px 0px 10px 0px;
    color:black;
    margin-left: 0;
    border-style: dotted ;
    /*overflow: hidden;*/
}
.menu-log {
    right: auto;
    float: right;
}
footer {
    width: 100%;
    bottom: 0px;
    background-color:white;
    color: #fff;
    /*position: absolute;
    padding-top:20px;
    padding-bottom:50px;*/
    text-align:left;
    font-size:20px;
    font-weight:bold;
    color: black;
}