*{
    padding:10px;
    margin:10px;
    border:solid;
}
.flex{
    color:white;
    font-size: 40px;
    text-align: center;
    padding:15px;
    flex-basis: 500px;
    /*flex-grow: 1;*/
}
.boxred{
    background: red;
    /*order:4;*/
    
}
.boxgreen{
    background: green;
    /*flex-shrink:2;*/
   
}
.boxblue{
    background: blue;
 
}
.boxblack{
    background:black;
}
.boxyellow{
    background:yellow;
}
.boxpurple{
    background:purple;
    }
.boxfuchsia{
    background: fuchsia;
}
.boxblueviolet{
    background: blueviolet;
 
}
.boxsaddlebrown{
    background: saddlebrown;

}

.container{
    display:flex;
    border: 5px solid black;
    flex-direction: row;
}
.container2{
    display:flex;
    border: 5px solid black;
    flex-direction: row;
    width:400px;
}
@media screen and (max-width: 1024px)
{
    .container{
        flex-direction:column;
    }
}
